/pycord/
/.idea/.gitignore
/bot.env
/key.pem
/config.json
/.idea/GameEnergyInfraV2.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml